body {
  background-color: #2b2b2b;
  width: 100vw;
  margin: 0 auto;
  height: 100vh;
  min-width: 500px;
  padding: 10px 0;
}

main {
  width: 96%;
  height: 97%;
  display: flex;
  max-width: 1600px;
  margin: 0 auto;
  justify-content: space-between;
}

section {
  background-color: #3a3a3a;
  margin: 0 2px;
  border-radius: 15px;
  box-shadow: inset 0 0 6px 1px #000;
  position: relative;
  transition: 0.5s;
}

section:hover .fullScreenBtn {
  opacity: 1;
}

.fullScreenBtn {
  width: 30px;
  height: 30px;
  background-color: #484848;
  position: absolute;
  right: 0px;
  top: 0px;
  border-radius: 50%;
  background: radial-gradient(circle, transparent 30%, black), #000000a6;
  cursor: pointer;
  display: flex;
  opacity: 0;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
  z-index: 3;
}

.fullScreenBtn img {
  width: 65%;
  opacity: 0.4;
  transition-duration: 0.5s;
}

.fullScreenBtn:hover img {
  opacity: 1;
}

section.fullScreen {
  position: absolute;
  width: 98%;
  height: 98%;
  left: 1%;
  top: 1%;
  z-index: 5;
  margin: 0;
}

.sectionConttent {
  height: 100%;
  z-index: 2;
}

.globalInfoAndTopNumber {
  width: 19%;
}

.topNumber {
  height: 18%;
  width: 100%;
}

.topNumber__discription {
  color: rgb(179 179 179);
  font-size: 29px;
  text-shadow: 0 0 2px black;
}

.topNumber .sectionConttent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.topNumber__value {
  color: rgb(230, 0, 0);
  font-size: 41px;
  text-shadow: 0 0 2px black;
  font-family: fantasy;
}

.globalInfo {
  height: 80%;
  width: 100%;
}

.globalInfo__header {
  height: 20%;
  border-bottom: solid 1px #585858;
  position: relative;
  overflow: hidden;
  display: flex;
}

.globalInfo__top {}

.globalTable {
  height: 79%;
  overflow-y: scroll;
}

.globalTable::-webkit-scrollbar,
main::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

.globalTable__line {
  height: 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #191919;
  cursor: pointer;
  padding: 0 14px;
}

.globalTable__line-hidden {
  display: none;
}

@keyframes line-hidden {
  0% {
    height: 46px;
    border-bottom: solid 1px #191919;
    display: flex;
  }
  99% {
    height: 0px;
    border-bottom: solid 1px #191919;
    display: flex;
  }
  100% {
    border-bottom: solid 0px #191919;
    height: 0px;
    display: none;
  }
}

.globalTable__line:hover,
.globalTable__line_selected {
  background: #6d6d6d3d;
}

.globalTable__line__number {
  font-size: 26px;
  text-shadow: 0 0 1px black;
  color: #d40000;
  font-family: fantasy;
}

.globalTable__line__name {
  font-size: 18px;
  text-shadow: 0 0 1px black;
  color: #ababab;
  text-transform: capitalize;
  width: 50%;
}

.map {
  width: 50%;
}

.grafAndMiniTables,
.globalInfoAndTopNumber {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.grafAndMiniTables {
  width: 30%;
  height: 100%;
}

.miniTables {
  height: 59%;
}

.miniTables .sectionConttent {
  display: flex;
}

.graf .sectionConttent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.miniTables .sectionConttent>div {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.miniTables__left {
  border-right: solid 1px;
}

.miniTables__right {}

.graf {
  height: 39%;
}

@media (max-width: 1400px) {
  main {
    flex-wrap: wrap;
  }
  .globalInfoAndTopNumber {
    width: 29%;
    height: 75%;
  }
  .map {
    width: 70%;
    height: 75%;
  }
  .grafAndMiniTables {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 10px;
  }
  .graf {
    width: 50%;
    height: 55%;
  }
  .miniTables {
    width: 50%;
    height: 55%;
  }
}